!!! 5
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title Page Not Found
    %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
  %body
    We're sorry but we can't find your page. 
    Please use your browser's back button to return to whilst you have come. 
