#about
  .row
    .span12
      %h2.page-header About
      %p Hello! I'm Lestrella (Michelle Thayer). I use most of my days to design, illustrate and code things. 
      %p I've been identifying myself on the internet as Lestrella (pronounced “les-trell-ah”), since I was 12. Estrella means star in Spanish, and I've always liked how the name "Ella" sounds. So I added an L to estrella and made it my own. 
      %p I began cranking out my first illustrations and websites as a pre-teen. That naturally led me to choose a degree in digital arts/web design. I've been working in design ever since. 
      %p I'm always interested in collaborating with awesome people making useful things for the world. If that's you, <a href="mailto:mthayer@lestrella.com">drop me a line! </a>
      %p You can also find me on <a href="http://linkedin.com/in/michellekthayer" target="_blank">LinkedIn</a>, <a href="https://twitter.com/MichelleThayer" target="_blank">Twitter</a>, and <a href="http://instagram.com/mthayer" target="_blank">Instagram</a>.
    .span12
      %h2.page-header2 Skills & Expertise
      %ul.service_list
        %li Adobe Creative Suite
        %li Graphic Design
        %li HTML5 & CSS3
        %li Illustration
      %ul.service_list
        %li	Keynote	
        %li UI & UX Design
        %li Web Design
    .span12
      %h2.page-header2 Who I've Worked With
      %ul.client_list
        %li 7-Eleven
        %li American Express           
        %li Audi             
        %li Chili's
        %li Chloe + Isabel
        %li Dick's Sporting Goods
        %li East West Holistic Bodywork
        %li GNC
        %li H&M
        %li Halls
        %li The History Channel
        %li Living Well Chiropractic
        %li LocalResponse
        %li L'Oréal
        %li Madden
        %li Manus Biosynthesis		
      %ul.client_list
        %li Miadonna.com
        %li Macy's           
        %li The New York Times       
        %li Orbit
        %li Pacific Cornetta, Inc.
        %li Revlon
        %li Scope
        %li Stephen R. Covey
        %li Toyota Camry
        %li UPlanMe
        %li U.S. Digital
        %li Verizon
        %li Vook
        %li Walgreens 
        %li Wharton Business School
		
