#about
  .row
    .span12
      %h2.page-header About
      %p Lestrella (pronounced “les-trell-ah”) is a design consultancy based in Silicon Alley, NY. We help companies design, develop, and bring meaningful products and services to market. 

      %p It doesn't matter if you're a small start-up or fortune 500 company—we approach each project with the same passion and commitment to excellence.
    .span12
      %h2.page-header2 Services
      %ul.service_list
        %li Web Design & Development
        %li Brand Identity
        %li Illustration
        %li Graphic Design	
      %ul.service_list
        %li Product Design
        %li UI Design
        %li UX Design
    .span12
      %h2.page-header2 Who We've Worked With
      %ul.client_list
        %li 7-Eleven
        %li American Express           
        %li Audi             
        %li Chili's
        %li Dick's Sporting Goods
        %li East West Holistic Bodywork
        %li GNC
        %li H&M
        %li Halls
        %li The History Channel
        %li Living Well Chiropractic
        %li LocalResponse
        %li L'Oréal
        %li Madden
        %li Manus Biosynthesis		
      %ul.client_list
        %li Miadonna.com
        %li Macy's           
        %li The New York Times       
        %li Orbit
        %li Pacific Cornetta, Inc.
        %li Revlon
        %li Scope
        %li Stephen R. Covey
        %li Toyota Camry
        %li UPlanMe
        %li U.S. Digital
        %li Verizon
        %li Vook
        %li Walgreens 
        %li Wharton Business School
		
