#contact
  .row
    .span8
      %h2.page-header Get in Touch
      %h4 We're located near Union Square
      %p Lestrella
      %p Nest New York
      %p 108 e. 16th St. (6th floor)
      %p New York, NY 10003

      %h4 Have a question?
      %a{:class=>"btn", :href=>"mailto:mthayer@lestrella.com", :style=>'width: 150px;'}
        %i{:class=>"icon-envelope"} 
        Shoot us an Email
    .span4
      %h2.page-header Find us
      .well
        %iframe{:frameborder => "0", :height => "200", :marginheight => "0", :marginwidth => "0", :scrolling => "no", :src => "https://maps.google.com/maps?hl=en&q=108+East+16+Street,+Floor+6,+New+York,+NY,+United+States&ie=UTF8&hq=&hnear=108+E+16th+St,+New+York,+10003&t=m&z=14&ll=40.735495,-73.988879&output=embed", :width => "100%"}