.navbar.navbar-fixed-top
  .navbar-inner
    .container
<<<<<<< HEAD
=======
      %a#top
>>>>>>> heroku/master
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical                   
          %li
            %a{:href => "/"}
              %i.icon-home
          %li.divider-vertical
          %li.divider-vertical                   
          %li
            %a{:href => "/work"} work 
          %li.divider-vertical       
          %li
            %a{:href => "/about"} about 
          %li.divider-vertical                      
          %li
            %a{:href => "/contact"} contact 
          %li.divider-vertical