.navbar.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      .nav-collapse
        %ul.nav
          %li.divider-vertical                   
          %li
            %a{:href => "/"}
              %img.home{:alt => "", :src => "/img/home-icon.png"}/
          %li.divider-vertical
          %li.divider-vertical                   
          %li
            %a{:href => "/work"} work 
          %li.divider-vertical       
          %li
            %a{:href => "/about"} about 
          %li.divider-vertical                      
