.navbar
  .navbar-inner
    .container
      %a#top
      %ul.nav.pull-left
        %li.divider-vertical                   
        %li
          %a{:href => "/"}
            %i.icon-home
        %li.divider-vertical
        %li.divider-vertical                   
        %li
          %a{:href => "/work"} work 
        %li.divider-vertical       
        %li
          %a{:href => "/about"} about 
        %li.divider-vertical                      
        %li
          %a{:href => "/contact"} contact 
        %li.divider-vertical

                    

