#work
.container
  %h2.page-header Featured Projects
  %ul#portfolio-items.thumbnails
    %li.span3
      .thumbnail
        %a{:href => "#1"}
          %img{:alt => "", :src => "img/thumb1.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#1"} LocalResponse
          %p Infographic published in Forbes and Streetfightmag
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#2"}
          %img{:alt => "", :src => "img/thumb2.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#2"} Lightbox
          %p Branding, web design, UI & UX design
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#3"}
          %img{:alt => "", :src => "img/thumb3.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#3"} Vook
          %p Userguide web design and development
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#4"}
          %img{:alt => "", :src => "img/thumb4.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#4"} History Channel
          %p eBook creation, landing page design and development
      / .thumbnail
    %li.span3.clear
      .thumbnail
        %a{:href => "#5"}
          %img{:alt => "", :src => "img/thumb5.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#5"} CustomHashtags
          %p Logo and product design
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#6"}
          %img{:alt => "", :src => "img/thumb6.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#6"} UPlanMe
          %p Website redesign
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#7"}
          %img{:alt => "", :src => "img/thumb7.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#7"} LocalResponse
          %p Invitation Design
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#8"}
          %img{:alt => "", :src => "img/thumb8.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#8"} Manus Biosynthesis
          %p Branding and website
      / .thumbnail
    %li.span3.clear
      .thumbnail
        %a{:href => "#9"}
          %img{:alt => "", :src => "img/thumb9.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#9"} Vook
          %p Email marketing newsletter
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#10"}
          %img{:alt => "", :src => "img/thumb10.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#10"} Mascot
          %p Vector illustration for a Twitter tool
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#11"}
          %img{:alt => "", :src => "img/thumb11.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#11"} LocalResponse
          %p Splash page design & development
      / .thumbnail
    %li.span3
      .thumbnail
        %a{:href => "#12"}
          %img{:alt => "", :src => "img/thumb12.jpg"}/
        .caption
          %h3.portfolio-header
            %a{:href => "#12"} Digital Painting
          %p Simulacra of a Kush
      / .thumbnail

  %a#1 
  %h3.page-header LocalResponse
  .row
    .span9
      %img{:alt => "", :src => "/img/LR-retailcheckins_Final.jpeg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Infographic design
      %em for <a href="http://www.localresponse.com" target="_blank">LocalResponse</a> 
      %p Published in <a href="http://www.forbes.com/sites/jjcolao/2012/09/20/among-top-retailers-wal-mart-dominates-mobile-check-ins/" target="_blank">Forbes</a> and <a href="http://streetfightmag.com/2012/09/21/study-retail-check-ins-most-popular-on-saturday-afternoons/" target="_blank">Streetfightmag</a>
      %a{:href => "#top"} &#8629; back

  %a#2
  %h3.page-header Lightbox 
  .row
    .span9
      %img{:alt => "", :src => "/img/lightbox1.png"}/
      %p
      %img{:alt => "", :src => "/img/lightbox2.jpg"}/
      %p
      %img{:alt => "", :src => "/img/lightbox3.jpg"}/
      %p
      %img{:alt => "", :src => "/img/lightbox4.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Branding, web design, UI & UX design
      %em for Lightbox (coming soon) 
      %p Lightbox is a digital arts experience in NYC. Lestrella designed the logo, website, UI and UX. A few mockups are shown to the left. 
      %a{:href => "#top"} &#8629; back

  %a#3
  %h3.page-header Vook
  .row
    .span9
      %img{:alt => "", :src => "/img/vook1.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Userguide web design and development
      %em for <a href="http://www.vook.com" target="_blank">Vook</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#4
  %h3.page-header History Channel
  .row
    .span9
      %img{:alt => "", :src => "/img/history.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 eBook and landing page design & development
      %em for <a href="http://www.history.com" target="_blank">History Channel</a>
      %p Please see <a href="http://www.swampsgiving.com" target="_blank">Swampsgiving.com</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#5
  %h3.page-header CustomHashtags
  .row
    .span9
      %img{:alt => "", :src => "/img/customhashtags.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Logo and product design 
      %p
      %a{:href => "#top"} &#8629; back

  %a#6
  %h3.page-header UPlanMe
  .row
    .span9
      %img{:alt => "", :src => "/img/uplanme1.jpg"}/
      %p
      %img{:alt => "", :src => "/img/uplanme2.jpg"}/
      %p
      %img{:alt => "", :src => "/img/uplanme3.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Website redesign
      %em for <a href="http://www.uplanme.com" target="_blank">UPlanMe</a>
      %p Please see the mockups to the left. The live site has since been changed.
      %p
      %a{:href => "#top"} &#8629; back

  %a#7
  %h3.page-header LocalResponse
  .row
    .span9
      %img{:alt => "", :src => "/img/hollywoodflyer.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Event Invitation
      %em for <a href="http://www.localresponse.com" target="_blank">LocalResponse</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#8
  %h3.page-header Manus Biosynthesis
  .row
    .span9
      %img{:alt => "", :src => "/img/manus.png"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Branding and website
      %em for <a href="http://www.manusbio.com" target="_blank">Manus Biosynthesis</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#9
  %h3.page-header Vook
  .row
    .span9
      %img{:alt => "", :src => "/img/vookemail.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Email marketing newsletter - design and code
      %em for <a href="http://www.vook.com" target="_blank">Vook</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#10
  %h3.page-header Mascot
  .row
    .span9
      %img{:alt => "", :src => "/img/twitterbird.png"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Vector illustration for a Twitter tool
      %p
      %a{:href => "#top"} &#8629; back

  %a#11
  %h3.page-header LocalResponse
  .row
    .span9
      %img{:alt => "", :src => "/img/LRsplashpage.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Splashpage design & development
      %em for <a href="http://www.localresponse.com" target="_blank">LocalResponse</a>
      %p
      %a{:href => "#top"} &#8629; back

  %a#12
  %h3.page-header Digital Painting
  .row
    .span9
      %img{:alt => "", :src => "/img/kush.jpg"}/
      %p
      %a{:href => "#top"} &#8629; Return to all Projects
    .span3
      %h4 Digital painting of a Vladimir Kush
      %p
      %a{:href => "#top"} &#8629; back