<div id='about'>
  <div class='row'>
    <div class='span12'>
      <div class='ghost about_us'>
        <h2>About Us</h2>
        <p>LocalResponse is the first platform to help marketers respond to "real-time consumer intent," defined as a social media moment: a Tweet, a status update on Facebook, a photo on Instagram, a checkin to Foursquare and many more.</p>
        <p>Based in Chelsea in NYC, LocalResponse is co-founded by digital advertising pioneers Nihal Mehta (founder ipsh!, sold to Omnicom in 2005 & early investor in Admob), Kathy Leake (co-founder Media6Degrees), and Michael Muse; and is backed by Cava Capital, Vodafone Ventures, Verizon Investments, Metamorphic Ventures, Extreme Venture Partners, Jim Pallotta and others.</p>
      </div>
      <div class='ghost board'>
        <h2>Board of Directors</h2>
        <div class='member'>
          <img src='/img/bod_peg.png' />
          <div class='title'>
            Peg Jackson
            <span>
              Cava Capital
            </span>
          </div>
        </div>
        <div class='member'>
          <img src='/img/bod_sundeep.png'>
            <div class='title'>
              Sundeep Madra
              <span>
                Extreme Venture Partners
              </span>
            </div>
          </img>
        </div>
        <div class='member'>
          <img src='/img/bod_nihal.png'>
            <div class='title'>
              Nihal Mehta
              <span>
                LocalResponse
              </span>
            </div>
          </img>
        </div>
      </div>
      <div class='ghost advisors'>
        <h2>Advisors</h2>
        <ul class='advisors_list'>
          <li>
            Brandon Berger
            <span>
              Chief Digital Officer, Worldwide, Ogilvy &amp; Mather
            </span>
          </li>
          <li>
            David Berkowitz
            <span>
              VP Emerging Media at digital agency 360i; strategist, speaker, columnist
            </span>
          </li>
          <li>
            David Levy
            <span>
              Operating Partner at ER Accelerator
              <br />
              Owner at PDPI, LLC
            </span>
          </li>
          <li>
            Dinesh Moorjani
            <span>
              Founder, CEO at Hatch Labs
            </span>
          </li>
          <li>
            Doug Chertok
            <span>
              Founder at StreetEasy
            </span>
          </li>
          <li>
            Eghosa Omoigui
            <span>
              Stage-agnostic venture capital
              <br />
              Internet, software, semantic tech, linked data web, intelligent mobile apps/platforms
            </span>
          </li>
          <li>
            Greg Goldman
            <span>
              CEO/Executive Producer at BLACKBIRD MEDIA
            </span>
          </li>
          <li>
            Jennifer E. Byrne
            <span>
              VP, Business Development at American Express
            </span>
          </li>
        </ul>
        <ul class='advisors_list'>
          <li>
            John Hadl
            <span>
              Venture Partner at US Venture Partners
              <br />
              Founder &amp; Chairman of the Board at Swoop
              <br />
              Co-Founder &amp; Chairman of the Board at Total Beauty Media, Inc.
              <br />
              Partner Emeritis at FRWD Co
            </span>
          </li>
          <li>
            Jon Bond
            <span>
              CEO Big Fuel Communications, LLC. One of the advertising industry's most prolific innovators &amp; entrepreneurs.
            </span>
          </li>
          <li>
            Michael Baker
            <span>
              President &amp; CEO at DataXu
              <br />
              Chairman of the Board at Nexage
            </span>
          </li>
          <li>
            Rick Segal
            <span>
              Co-Founder at FixMO
            </span>
          </li>
          <li>
            Sara Haider
            <span>
              Software Engineer at Twitter
            </span>
          </li>
          <li>
            Tobias Peggs
            <span>
              Formerly CEO of OneRiot...acquired by Walmart...where I now drive international mobile products. Also: Brit-abroad, music nut, Spurs supporter, snowboarder.
            </span>
          </li>
        </ul>
      </div>
      <div class='ghost awards'>
        <h2>Awards &amp; Recognition</h2>
        <div class='images'>
          <img src='/img/award_global.png' />
          <img src='/img/award_adage.png' />
          <img src='/img/award_digiday.jpg' />
        </div>
      </div>
    </div>
  </div>
</div>
