<footer>
  <div class='container'>
    <div class='row'>
      <div class='span6'>
        <ul class='footer_links'>
          <li>
            <img class='tw' src='img/twitter.png' />
            <a href='http://twitter.com/LocalResponse' target='_blank'>Twitter</a>
          </li>
          <li>
            <img class='fb' src='img/facebook.png' />
            <a href='http://www.facebook.com/pages/LocalResponse/148870215179862' target='_blank'>Facebook</a>
          </li>
          <li>
            <img src='img/linkedin.png' />
            <a href='http://www.linkedin.com/company/local-response' target='_blank'>LinkedIn</a>
          </li>
          <li>
            <img src='img/madein2.png' />
            <a href='http://nytm.org/made-in-nyc' target='_blank'>Made in NYC</a>
          </li>
        </ul>
        <hr />
        <ul class='footer_links company'>
          <li>
            <a class='legal' href='/terms'>Terms</a>
          </li>
          <li>
            <a class='legal' href='/privacy'>Privacy</a>
          </li>
          <li>
            <a href='http://localresponsepress.tumblr.com/' target='_blank'>Press</a>
          </li>
          <li>
            <a href='http://localresponsejobs.tumblr.com/' target='_blank'>Jobs</a>
          </li>
        </ul>
        <ul class='follow'>
          <li class='tw'>
            <a class='twitter-follow-button' data-lang='en' data-show-count='true' data-width='240px' href='https://twitter.com/localresponse'>Follow @localresponse</a>
            <script type='text/javascript'>
              //<![CDATA[
                !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");
              //]]>
            </script>
          </li>
          <li class='fb'>
            <div class='fb-like' data-href='http://www.facebook.com/pages/LocalResponse/148870215179862' data-layout='button_count' data-send='false' data-show-faces='false' data-width='450'></div>
          </li>
        </ul>
      </div>
      <div class='span6' id='signup'>
        <form class='form-inline well'>
          <input class='input-large' name='subscriberEmail' placeholder='Enter Your Email Address' type='text'>
            <button class='btn btn-primary' id='mailingButton' type='submit'>Stay in Touch</button>
          </input>
        </form>
      </div>
    </div>
  </div>
</footer>
