<!-- / uncomment this script to add parallax scrolling to home page -->
<!-- / %script{:src => "coffee/parallax.js"} -->
<div id='landing'>
  <div class='row' id='scroller'>
    <div class='span6'>
      <div class='iphone'>
        <div class='iphone_content'>
          <div class='intent'>
            <img class='compose screen selected' src='/img/one.jpg' />
            <img class='tweet screen' src='/img/two.jpg' />
            <img class='reply screen' src='/img/three.jpg' />
            <img class='landing screen' src='/img/four.jpg' />
          </div>
          <div class='response'>
            <img class='compose screen selected' src='/img/tweet.jpg' />
            <img class='tweet screen' src='/img/reply.jpg' />
            <img class='reply screen' src='/img/compose.jpg' />
            <img class='landing screen' src='/img/landing.jpg' />
          </div>
        </div>
      </div>
    </div>
    <div class='span6 description relative'>
      <h2>LocalResponse helps you reach your customers where they are.</h2>
      <ul class='switcher'>
        <li class='intent'>
          <a class='active'></a>
          <a></a>
          <a></a>
          <a></a>
        </li>
      </ul>
      <div class='intent relative'>
        <div class='ghost guide compose selected'>
          <h3>Intent Targeting</h3>
          <p>Lorem sheezy dolizzle yo mamma amizzle, cool adipiscing gangster. Nullam sapien velizzle, aliquet volutpizzle, shizzlin dizzle check it out.</p>
        </div>
        <div class='ghost guide tweet'>
          <h3>Intent Targeting</h3>
          <p>Lorem sheezy dolizzle yo mamma amizzle, cool adipiscing gangster. Nullam sapien velizzle, aliquet volutpizzle, shizzlin dizzle check it out.</p>
        </div>
        <div class='ghost guide reply'>
          <h3>Intent Targeting</h3>
          <p>Lorem sheezy dolizzle yo mamma amizzle, cool adipiscing gangster. Nullam sapien velizzle, aliquet volutpizzle, shizzlin dizzle check it out.</p>
        </div>
        <div class='ghost guide landing'>
          <h3>Intent Targeting</h3>
          <p>Lorem sheezy dolizzle yo mamma amizzle, cool adipiscing gangster. Nullam sapien velizzle, aliquet volutpizzle, shizzlin dizzle check it out.</p>
        </div>
      </div>
      <div class='response relative'>
        <div class='ghost guide compose'>
          <h3>Direct Response</h3>
          <p>A consumer composes a tweet about what they're up to.</p>
        </div>
        <div class='ghost guide tweet'>
          <h3>Direct Response</h3>
          <p>Our platform analyzes the public twitter pipeline in real-time when it appears.</p>
        </div>
        <div class='ghost guide reply guide'>
          <h3>Direct Response</h3>
          <p>The consumer receives a personal tweet with a link to a landing page.</p>
        </div>
        <div class='ghost guide landing guide'>
          <h3>Direct Response</h3>
          <p>The link goes to a branded landing page.</p>
        </div>
      </div>
    </div>
  </div>
  <div class='row'>
    <div class='span4 offset4'>
      <div class='btn-group product_buttons' data-toggle='buttons-radio'>
        <button class='btn intent_button active' type='button'>Intent Targeting</button>
        <button class='btn response_button' type='button'>Direct Response</button>
      </div>
    </div>
  </div>
  <div class='row bottom'>
    <div class='span6'>
      <div class='ghost'>
        <h3>Clients</h3>
        <ul class='logos'>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
          <li>
            <div class='test_logo'></div>
          </li>
        </ul>
      </div>
    </div>
    <div class='span6'>
      <div class='ghost'>
        <h3>Press</h3>
        <ul class='press'>
          <li class='active'>
            <div class='blurb'>
              LocalResponse intends to give companies an easier way to advertise to the people posting messages and pictures online from and about their businesses.
              <br />
              <span>- New York Times</span>
            </div>
          </li>
          <li>
            <div class='blurb'>
              A New York start-up has figured out a way to aggregate social media check-in data so that advertisers can then interact with those users.
              <br />
              <span>- Wall Street Journal</span>
            </div>
          </li>
          <li>
            <div class='blurb'>
              LocalResponse will tailor a campaign to your company’s specific marketing goals and then monitor Twitter for check-in data from location-based services like Foursquare, Loopt, Instagram and Yelp.
              <br />
              <span>- New York Post</span>
            </div>
          </li>
          <li>
            <div class='blurb adweek'>
              [LocalResponse] collects check-in data that’s both “explicit” and “implicit,” meaning there are Foursquare and Yelp check-ins, but there are also indirect check-ins such as mentions, photos and geo-tags on other social networks. In other words, if you make your location known publicly online, you’re ripe for a LocalReponse ad.
              <br />
              <span>- AdWeek</span>
            </div>
          </li>
          <li>
            <div class='blurb'>
              Smart companies like LocalResponse understand the resulting data and harness it to create powerful, relevant marketing.
              <br />
              <span>- Mashable</span>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
