<div aria-hidden='true' aria-labelledby='myModalLabel' class='modal ghost' id='contact_form' role='dialog' tabindex='-1'>
  <div class='modal-header'>
    <button aria-hidden='true' class='close' data-dismiss='modal' type='button'>×</button>
    <h3 id='myModalLabel'>Get in Touch</h3>
  </div>
  <div class='modal-body'>
    <form>
      <input name='customerName' placeholder='Your Name' type='text' value='' />
      <input name='customerEmail' placeholder='Your Email Address' type='text' value='' />
      <textarea id='txt' name='customerMessage' placeholder='What can we help you with?' rows='6'></textarea>
    </form>
  </div>
  <div class='modal-footer'>
    <button aria-hidden='true' class='btn' data-dismiss='modal'>Close</button>
    <button class='btn btn-primary' id='infoRequestButton'>Submit</button>
  </div>
</div>
