<div class='navbar'>
  <div class='navbar-inner'>
    <div class='container'>
      <ul class='nav pull-left'></ul>
      <a class='btn btn-navbar' data-target='.nav-collapse' data-toggle='collapse'>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
        <span class='icon-bar'></span>
      </a>
      <a class='brand' href='/'></a>
      <div class='nav-collapse'>
        <ul class='nav pull-right'>
          <li class='divider-vertical'></li>
          <li>
            <a href='/about'>About Us</a>
          </li>
          <li class='divider-vertical'></li>
          <li>
            <a href='/team'>Team</a>
          </li>
          <li class='divider-vertical'></li>
          <li>
            <a class='contact' data-toggle='modal' href='#contact_form' role='button'>Get in Touch</a>
          </li>
          <li class='divider-vertical'></li>
          <li>
            <a class='login' href='http://pro.localresponse.com' target='_blank'>Pro Login</a>
          </li>
          <li class='divider-vertical'></li>
        </ul>
      </div>
    </div>
  </div>
</div>
