<div id='team'>
  <script src='coffee/twitter.js'></script>
  <div class='row'>
    <div class='span12'>
      <div class='ghost team_title'>
        <h2>Team LocalResponse</h2>
        <p>Our unique team is made up of an awesome group of Lorem sheezy dolizzle yo mamma amizzle, cool adipiscing gangster. Nullam sapien velizzle, aliquet volutpizzle, shizzlin dizzle check it out.</p>
      </div>
    </div>
    <div class='span6'>
      <div class='ghost'>
        <div class='tweet' data-screenname='nihalmehta'>
          <h4>
            Nihal Mehta
            <span>CEO, Co-Founder</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/597824279/fb_headshot_cropped_reasonably_small.jpg' />
          <p>Mobile entrepreneur, investor, advisor, and friend.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet' data-screenname='michaelmuse'>
          <h4>
            Michael Muse
            <span>VP Product/Operations, Co-Founder</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1603403960/profile-michaelmuse_reasonably_small.jpg' />
          <p>Co-Founder, Operations &amp; Product. Formerly @buzzd, & even more formerly occupied by Wall St. I love figuring out how to make ideas work.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Allene Jordan
            <span>Sales Planner</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/2574724261/5k3dng29dyfi4lm1ljs9_reasonably_small.jpeg' />
          <p>If there's a trail, city block or bike path I will take off down it. Time to take on the daily challenges this fantastic city has to offer!</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Christopher Sanson
            <span>Director of Product, Dashboard</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1485002300/localresponse-headshot_reasonably_small.png' />
          <p>Always leave them wanting m</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Emily Keith
            <span>Director East Coast Sales</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1612474359/image_reasonably_small.jpg' />
          <p>Ad sales veteran. Proud Okie. Wife of a rockstar. Interior design enthusiast.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Jen Bennett
            <span>West Coast Sales</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/2226798864/profile_compressed_reasonably_small.JPG' />
          <p>Weekend Warrior, Toddler wrangler, Mobile addict, Bringing LocalResponse to the Wild West</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Katherine Sprung
            <span>Director of Fun</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1221453493/35193_947440489552_5116218_51893067_3360484_n_reasonably_small.jpg' />
          <p>luckily ive been told i look ok in hats. because at localresponse i wear a lot of them! managing our staff, office, pr &amp; accounting. boom.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Lauren Eady
            <span>Account Manager</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1770682989/image_reasonably_small.jpg' />
          <p>Aussie ex-pat discovering the concrete jungle of NYC.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Michelle Thayer
            <span>Senior Designer</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1750819849/photo-1_reasonably_small.JPG' />
          <p>When other kids were playing with barbies, I was playing with Photoshop and HTML. Now I play all the time as Local Response’s resident designer.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Paige Harrison
            <span>Account Manager</span>
          </h4>
          <img src='/img/pic_paige.jpg' />
          <p>Account manager at LR by day. Beach girl. Sports fanatic. Soul singer by night.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Sheel Shah
            <span>Sales Planner</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/2246800924/image.jpg' />
          <p>Running Sales Planning @LocalResponse by day, conquering the greatest city in the world by night. Bleeding Blue and Orange 24/7.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Todd Hayes
            <span>Director Midwest Sales</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1615865249/IMG_0340_reasonably_small.JPG' />
          <p>Father-in-training, Sports addict, Surprisingly good dancer, Predictably bad golfer, Directing sales in the heart of America @localresponse</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Stanley
            <span>Office Doggie</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1128635397/Picture_10_reasonably_small.png' />
          <p>woof!</p>
        </div>
      </div>
    </div>
    <div class='span6'>
      <div class='ghost'>
        <div class='tweet' data-screenname='leakekathy'>
          <h4>
            Kathy Leake
            <span>President, Co-Founder</span>
          </h4>
          <img src='http://www.localresponse.com/images/pic_kathy_leake.jpg' />
          <p>President and Founding Partner of LocalResponse. Responsible for positioning, go-to-market, revenue generation and operations.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Alex Andreyev
            <span>Associate Director of Media Operations</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/1692995364/alex_dsp_reasonably_small.jpg' />
          <p>I'm a serial entrepreneur, consultant, marketing and advertising specialist. My passion for business is only exceeded by my passion for helping people.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Brian Renzenbrink
            <span>Chief Hacker</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1427931587/164782_690477595445_24404827_37587089_3115976_n_reasonably_small.jpg' />
          <p>Problem solver, algorithms expert, and engineer hero at LocalResponse. Helps make tech look good.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Dmitry Kroshka
            <span>Head of Ad Innovation</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1554751703/profile_pic_reasonably_small' />
          <p>Recovering advertising and media exec, now building the next generation of highly relevant socially retargeted ads.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Jalpa Trivedi
            <span>Quality Assurance</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/1877191112/00ce6d6.jpg' />
          <p>Passionate Technical QA Engineer! Love Reading and Listening to music in free time :)</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Karan Pandya
            <span>Product Account Manager</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/2284039702/snvsesdgttd5pqbas53p.jpeg' />
          <p>Engineer turned consultant turned Product AM. Following my passion and looking to leave my mark.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Kendra Kuehnle
            <span>Account Executive</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/2503924631/qbye8m44psfxllzstwei_reasonably_small.jpeg' />
          <p>Full-time media junkie. Part-time ninja. Happy customers & wine are accepted forms of payment for slaying banners &amp; wild animals.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Louis Del Vecchio
            <span>Director of Sales, Northeast</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/2503146996/image_reasonably_small.jpg' />
          <p>I don’t know karate or anything, but I can drink a lotta tequila and still make it home okay.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Niels Meersschaert
            <span>SVP, Technology</span>
          </h4>
          <img src='/img/pic_neils.png' />
          <p>Built search engines, e-commerce platforms and big data systems for advertising after an early start as a TV ad producer/editor/sfx guru.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Ravi Rajan
            <span>Data Scientist</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/2602505076/image_reasonably_small.jpg' />
          <p>Uncertainty.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Seth Purcell
            <span>VP of Engineering</span>
          </h4>
          <img src='/img/pic_seth_purcell.jpg' />
          <p>Insatiable autodidact and outdoors enthusiast who believes premature optimization is the root of all evil.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Terricka Beckford
            <span>Director of Account Management</span>
          </h4>
          <img src='https://si0.twimg.com/profile_images/1379490433/n4204424_31824744_6505430_reasonably_small.jpg' />
          <p>Director of Account Management @LocalResponse. Lover of all things media.</p>
        </div>
      </div>
      <div class='ghost'>
        <div class='tweet'>
          <h4>
            Wade Forman
            <span>Backend Engineer</span>
          </h4>
          <img src='https://twimg0-a.akamaihd.net/profile_images/1632045166/image_reasonably_small.jpg' />
          <p>Lived in FL all my life but moved to NYC to work at LocalResponse to master Node.js. When not being a nerd I eat good food and travel.</p>
        </div>
      </div>
    </div>
  </div>
</div>
